html {
  color: blueviolet;
}
/* tag */
div {
  color: brown;
}
/* id */
#id {
}
/* class */
.apple {
  color: red;
}
/* property */
[name="fr"] {
  color: black;
}
/* and */
.class1.class2 {
  color: brown;
}
/* or */
.class1,
.class2 {
  color: blue;
}
