html {
  color: blueviolet;
}
/* tag */
div {
  color: brown; /*!important*/
}
/* id */
#id {
  color: darkblue;
}
/* class */
.apple {
  color: red;
}
/* property */
[name="fr"] {
  color: black;
}
/* and */
.class1.class2 {
  color: chocolate;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
  background: #ccc;
  width: 100px;
  height: 100px;
  margin: 10px;
  padding: 20px;
  border: 2px #333 dashed;
  border-radius: 100px;
  line-height: 100px;
}
/* or */
.class1,
.class2 {
  color: blue;
}
/* sub */
.class1 .class2 {
  color: yellowgreen;
  text-align: center;
}
/*伪类*/
.class1:hover {
  font-size: 40px;
}
/*伪元素*/
.class1::after {
  content: "5";
  color: red;
  font-size: 14px;
  position: relative;
  top: -20px;
}
/* rwd */
@media screen and (max-width: 768px) {
  .class1 {
    font-size: 70px;
  }
}

.position {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  background-color: #ccc;
}
.inline {
  display: inline;
  width: 100px;
  height: 100px;
}
.inline-block {
  display: inline-block;
  width: 100px;
  height: 100px;
}
.block {
  display: block;
  width: 100px;
  height: 100px;
}
.hidden {
  display: none;
}
.transparent {
  visibility: hidden;
}
